body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: wheat;
}

#root {
  width: 45%;
}

.btn {
  color: black;
  font-size: 25px;
  width: 33%;
  height: 60px;
  border-color: bisque;
}

.wide {
  width: 67%;
}

.btn-wrapper {
  width: 100%;
  display: flex;
}

.wrapper {
  margin-top: 20px;
}

.input-field {
  background-color: #848692;
  width: 92%;
  border: none;
  padding: 4%;
  text-align: end;
  font-size: 25px;
}

.light {
  background-color: #f5913e;
}

.light-end {
  width: 33%;
  background-color: #f5913e;
}

::placeholder {
  text-align: end;
  font-size: 25px;
  color: white;
}
